.button {
  font: inherit;
  font-size: inherit;
  border: 1px solid #c0c6cc;
  color: black;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  border-radius: 30px;
}

.button:hover,
.button:active {
  background: #052e34;
  border-color: #052e34;
  color: white;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
