.about-box {
  width: 600px;
  height: 330px;
  background: #fff;
  color: #fff;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 17%;
}

.about-box h1 {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  color: #111;
  padding-left: 45px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.about-box p {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #111;
  padding-left: 45px;
  padding-right: 30px;
  padding-top: 15px;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.blank-banner-1 {
  width: 100%;
  height: calc(100vh - 140px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.h1 {
  text-align:center;
  margin-right: 7%;
}