.mainDiv {
  padding: 3.2rem;
}
.mainDiv h1 {
  text-align: center;
  font-size: 4.8rem;
}

.login {
  width: 90%;
  max-width: 40%;
  margin: 10vh auto;
  padding: 1rem 4rem;
  font-size: 2.4rem;
}

.control {
  margin: 3.2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}

.containerDiv {
  display: flex;
  /* gap: 1rem; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid black;

  background-color: #e2e2e2;
  margin: 6.4rem 0;
}

.twoItemsFlexDiv {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.daysLeft {
  flex-grow: 0;
  font-size: 2rem;
  /* width: 5rem; */
  text-align: center;
}

.buttonsDiv {
  display: flex;
  gap: 7.2rem;
  justify-content: center;
  margin-bottom: 6.4rem;
}

.cancelDiv {
  text-align: center;
  margin-bottom: 3.2rem;
  color: black;
}

.cancelDiv a {
  padding: 1rem;
  border-radius: 10%;
}

.cancelDiv a:hover {
  background: #052e34;
  border-color: #052e34;
  color: white;
}

.btn {
  background-color: #b7e0e6;
}
.btnGrey {
  background-color: #fdfdfd;
}
@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
